---
import Layout from "@layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Overview from "@components/offer/homepage/Overview.astro";
---

<Layout title="homepage">
	<main class="space-y-8">
		<header>hero</header>
		<main class="container mx-auto">
			<Overview />
		</main>
		<footer>footer</footer>
	</main>
</Layout>
